* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: "Share Tech Mono", sans-serif;
    font-weight: 400;

}

:root {
    --white: #F9F8F4;
    --ff: "Share Tech Mono", sans-serif;
    --black: #242424;
    --grey:#6C6C6C;
}

.container {
    max-width: 1140px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    background: #F9F8F4;
}