.galler__wrap {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 400px;
    gap: 24px;
}

.gallery {
    margin-bottom: 140px;
}

.gallery__card-img {
    width: 100%;
    height: 100%;
}

.Big {
    grid-column: 2 span;
    grid-row: 2 span;
}

.Mid {
    grid-column: 2 span;
    grid-row: 1 span;
}

.gallery__card {
    position: relative;
}

/* .gallery__card-ins {
    position: absolute;
    top: 24px;
    left: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
} */

/* .card__disc {
    display: inline-block;
    max-width: 120px;
    background: var(--black);
    text-align: center;
    padding: 16px 0;
    font-family: "Share Tech Mono", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--white);
} */
.card__disc {
    display: inline-block;
    position: absolute;
    top: 24px;
    left: 24px;
    max-width: 120px;
    width: 100%;
    padding: 16px 0;
    background: var(--black);
    text-align: center;
    font-family: "Share Tech Mono", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--white);

}

.card__wrap {
    position: absolute;
    left: 24px;
    bottom: 24px;

}

.card__title,
.card__price {
    font-family: "Share Tech Mono", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--white);
}

.card__title {
    margin-bottom: 20px;
}

.card__desc {
    font-family: "Share Tech Mono", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--white);
}

.child {
    margin-bottom: 40px;
}

.card__btn:hover {
    color: var(--white);
    background: transparent;
    border: 1px solid var(--black);
}

.gallery2__card-img {
    position: relative;
    max-width: 552px;
    width: 100%;
    padding: 24px 24px;

}

.gallery2__desc {
    position: absolute;
    top: 48px;
    left: 48px;
    right: 48px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card__wrap2 {
    position: absolute;
    left: 48px;
    bottom: 48px;

}

.gallery2__favorites {
    display: flex;
    gap: 24px;
    align-items: flex-start;
}

.potKorzina {
    max-width: 60px;
    width: 100%;
    padding: 18px 0;
    background: var(--white);
}

.potLike {
    max-width: 60px;
    width: 100%;
    padding: 18px 0;
    background: var(--white);
}

.potDisc {
    display: inline-block;
    max-width: 120px;
    width: 100%;
    padding: 16px 0;
    background: var(--black);
    text-align: center;
    font-family: "Share Tech Mono", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--white);
}
.gallery2__wrap{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: 552px; */
    gap: 1px;
}
.gallery2__card-img{
    grid-column: 1 span;
    grid-row: 1 span;
}
.gallery2__card-img1{
    width: 100%;
    height: 100%;
}
.gallery2{
    margin-bottom: 120px;
}
.undo3{
    border-bottom: 2px solid var(--black);
    position: absolute;
    top: 50%;
    width: 144px;
    left: 185px;
}
.last__about-img{
    min-width: 1674px;
    width: 100%;
}
