.galler__wrap {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 400px;
    gap: 24px;
}

.gallery__card-img {
    width: 100%;
    height: 100%;
}

.Big {
    grid-column: 2 span;
    grid-row: 2 span;
}

.Mid {
    grid-column: 2 span;
    grid-row: 1 span;
}

.gallery__card {
    position: relative;
}

.gallery__card-ins {
    position: absolute;
    top: 24px;
    left: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.card__disc {
    display: inline-block;
    max-width: 120px;
    background: var(--black);
    text-align: center;
    padding: 16px 0;
    font-family: "Share Tech Mono", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--white);
}

.card__title,
.card__price {
    font-family: "Share Tech Mono", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--white);
}

.card__desc {
    font-family: "Share Tech Mono", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--white);
}

.card__btn {
    max-width: 200px;
    width: 100%;
    padding: 26px 0;
    background: var(--white);
    color: var(--black);
    font-family: "Share Tech Mono", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    transition: 0.5s;
}
.card__btn:hover{
    color: var(--white);
    background: transparent;
    border: 1px solid var(--black);
}